{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crear Nueva Incidencia{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>Crear Nueva Incidencia</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {{ form_start(formularioIncidencia) }}
                    {{ form_widget(formularioIncidencia) }}
                    {{ form_end(formularioIncidencia) }}
                </form>
            </div>
        </div>                
    </div>
</body>
</html>
{% endblock %}
